body {
  background-image: linear-gradient(to right, #dd5e89 0%, #dd5e89 100%);
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-container input[type='submit'] {
  background-image: linear-gradient(
    to left,
    #ea6692 0%,
    hsl(340, 76%, 66%) 100%
  );
  color: #fff;
  width: 8rem;
  padding: 6.2px;
  margin: 4px;
}
